<html>
  <body>
    <style>
body {
  background-color: rgb(245, 245, 245);
}
h1 {
  font-family: "Georgia", serif;
  font-style: normal;
  border-style: double;
  border-color: #d7facd;
  letter-spacing: 2px
  width: 90%;
  padding: 15px;
}
h2 {
  font-family: "Georgia", serif;
  font-style: normal;
  border-style: double;
  border-color: #d9fbfC;
  width: 27%;
  padding: 10px;
  text-align: center;
 </style>
</body>
</html>
